---
layout: default
disqus: true
archive: true
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
        </header>

        <section class="post-content">
            {{content}}
        </section>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- OneServer_320x250_adsense -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-4033171503356775"
     data-ad-slot="3050829567"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
		

</main>

