---
layout: default
comments: true
archive: true
---


<main class="content" role="main">
  <article class="post">
    <div class="alert alert-success">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Successfully Sent!</strong> TY!
    </div>

    <div class="waitting alert-success">
      Sending ......
    </div>


    <form role="form">
    <!-- <form role="form"> -->

    <input type="hidden" id="product_name" value="{{page.product_name}}">

        <textarea id="feedback1"></textarea>
        <textarea id="feedback2"></textarea>
        <textarea id="feedback3"></textarea>

      <div class="form-group  text-right">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"></span> Save</button>
      </div>
    </form>


    <section class="post-content">
    </section>

  </article>

</main>


<script src='//code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.js'></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<script>
var simplemde1 = new SimpleMDE({
  element: document.getElementById("feedback1"),
  spellChecker: false,
});

simplemde1.togglePreview();

$.getJSON("http://play.itoytoy.com:8080/allfeedback?product=EmojiAdded", function(json){
  simplemde1.value(json.AllFeedback)
});


var simplemde2 = new SimpleMDE({
  element: document.getElementById("feedback2"),
  spellChecker: false,
});

simplemde2.togglePreview();

$.getJSON("http://play.itoytoy.com:8080/allfeedback?product=MineServer", function(json){
  simplemde2.value(json.AllFeedback)
});

var simplemde3 = new SimpleMDE({
  element: document.getElementById("feedback3"),
  spellChecker: false,
});

simplemde3.togglePreview();

$.getJSON("http://play.itoytoy.com:8080/allfeedback?product=MineMap", function(json){
  simplemde3.value(json.AllFeedback)
});


</script>

<script>
  var $form = $('form'), $successMsg = $('.alert') ,$waitting = $('.waitting');
$form.validator().on('submit', function (e) {
  if (!e.isDefaultPrevented()) {


      e.preventDefault();

      var product_name = $("#product_name").val();
      var message = $("#message").val();
      var email = $("#email").val();

      var sendInfo = {
           Product: product_name,
           Message: message,
           Email: email
       };

      console.log(sendInfo);
      $successMsg.hide();
      $waitting.show();

      $.ajax({
            type: 'post',
            // url: 'http://httpbin.org/post',
            // url: 'http://127.0.0.1:8080/feedback',
            url: 'http://play.itoytoy.com:8080/feedback',
            data: JSON.stringify(sendInfo),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
              console.log(response);
              $waitting.hide();
              $successMsg.show();
            }
          });
  }
});
</script>
