---
layout: default
disqus: true
archive: true
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
        </header>
        

        <h1 class="post-title">{{ page.title }}</h1>



        <section class="post-content">
            {{content}}
        </section>


        <!-- <footer class="post-footer"> -->

            
            {% if page.feedback %}

            <section class="wenjuan">
		    <script type="text/javascript" src="http://www.wenjuan.com/iframe/57661673a320fc01df99654d/"></script>
		    </section>
			{% endif %}

            {% if page.question %}

            <section class="wenjuan">
		    <script type="text/javascript" src="http://www.wenjuan.com/iframe/57727663a320fc7b4b64eca2/"></script>
		    </section>
			{% endif %}

    </article>

</main>
