---
layout: default
disqus: true
archive: true
---

<main class="content" role="main">

    <article class="post">
        <header class="post-header">
        </header>
        

        <h1 class="post-title">{{ page.title }}</h1>



        <section class="post-content">
            {{content}}
        </section>


        <!-- <footer class="post-footer"> -->

            
            {% if page.feedback %}

            <section class="wenjuan">
		    <script type="text/javascript" src="http://www.wenjuan.com/iframe/57661673a320fc01df99654d/"></script>
		    </section>
			{% endif %}

            {% if page.question %}

            <section class="wenjuan">
		    <script type="text/javascript" src="http://www.wenjuan.com/iframe/57727663a320fc7b4b64eca2/"></script>
		    </section>
			{% endif %}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80227922-1', 'auto');
  ga('send', 'pageview');

</script>			

<a title="Web Analytics" href="http://clicky.com/100969609"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100969609); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100969609ns.gif" /></p></noscript>


    </article>

</main>

