---
layout: default
disqus: true
archive: true
---


<main class="content" role="main">
  <article class="post">

    <section class="post-content">

      <div class="thumbnail">
        <img src="{{page.HeadImg}}" alt="...">
        <div class="caption text-right">
          <h5>{{page.Title}}</h5>
          {{content}}
          <a href="javascript:callApp.download();" class="btn btn-default" role="button" id="appdownload"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
          <a href="https://z4yq2.app.goo.gl/IqL8" class="btn btn-default" role="button" id="webdownload"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
        </div>
      </div>

    </section>

    <div id="related">
      <div class="btn-group btn-group-justified page-header">
        <a href="javascript:callApp.like();" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
        <a href="javascript:callApp.share();" class="btn btn-success" role="button"><span class="glyphicon glyphicon-share"></span> Share</a>
      </div>


      <h5 id="tables" class="page-header">More related worlds</h5>

      <div class="row show-grid">

        <a href="javascript:callApp.postContent('value', {{page.RelatedWorldId1}});" class="col-xs-6">
          <div class="thumbnail">
            <img src="{{page.RelatedImg1}}" alt="...">
            <div class="caption">
              <h7>{{page.RelatedTitle1}}</h7>
            </div>
          </div>
        </a>


        <a href="javascript:callApp.postContent('value', {{page.RelatedWorldId2}});" class="col-xs-6">
          <div class="thumbnail">
            <img src="{{page.RelatedImg2}}" alt="...">
            <div class="caption">
              <h7>{{page.RelatedTitle2}}</h7>
            </div>
          </div>
        </a>

      </div>
    </div>
  </article>
</main>

<script type="text/javascript">
function GetRequest()
{
  var url = location.search; //获取url中"?"符后的字串
  if (url.indexOf("?") != -1) //有参数
  {
    document.getElementById("webdownload").style.display='none'
  }
  else {
      document.getElementById("appdownload").style.display='none'
      document.getElementById("related").style.display='none'
  }
}
GetRequest()
</script>
