--- 
layout: default 
disqus: true 
archive: true 
---


<main class="content" role="main">
    <article class="post">
        <section class="post-content">
            {{content}}
        </section>
<div id="buttons">
        <table>
            <tr>
                <th width=33%><div onclick='callApp.like()' class="myButton">Like</div>
                </th>
                <th width=33%><div onclick='callApp.download()' class="myButton">Install</div>
                </th>
                <th width=33%><div onclick='callApp.share()' class="myButton">Share</div>
                </th>
            </tr>
        </table>

        


</div>

<div id="buttons2">
        <table>
            <tr>
                <th width=33% height="60"><div onclick='callApp.postContent("value", 1)' class="myButton">Call Swift</div>
                </th>
                <th  width=33% height="60"><div onclick='callApp.postContent("hello", 2)' class="myButton">Call Swift2</div>
                </th>
                <th  width=33% height="60"><div onclick='callApp.postContent("hello", 3)' class="myButton">Call Swift2</div>
                </th>

            </tr>
        </table>
</div>

</main>

<script type="text/javascript">
    function GetRequest() 
    {
        var url = location.search; //获取url中"?"符后的字串
        if (url.indexOf("?") != -1) 
        { //判断是否有参数
            document.getElementById("buttons").style.display='none'
        }
    }
    GetRequest()
</script>


