--- 
layout: default 
disqus: true 
archive: true 
---

<main class="content" role="main">
    <article class="post">
        <section class="post-content">
            {{content}}
        </section>

        <table>
            <tr>
                <th width=33%><a href="https://itunes.apple.com/app/id1144129231" class="myButton">Like</a>
                </th>
                <th  width=33%><a href="{{page.mcworldlink}}" class="myButton">Install</a>
                </th>
                <th><a href="https://itunes.apple.com/app/id1144129231" class="myButton">Share</a>
                </th>
            </tr>
        </table>
        
</main>

