---
layout: default
disqus: true
archive: true
---

 
<main class="content" role="main">
    <article class="post">


<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="/assets/images/addserver.png" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>More about this game</p>
        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a></p> -->


      </div>
    </div>
  </div>
</div>

            <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="javascript:callApp.download();" class="btn btn-default navbar-toggle collapsed" role="button"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
          <div class="navbar-brand">Sky Wars</div>
        </div>
      </div>
    </nav>


        <section class="post-content">
            {{content}}
        </section>
<!-- <div id="buttons">
        <table>
            <tr>
                <th width=33%><div onclick='callApp.like()' class="myButton">Like</div>
                </th>
                <th width=33%><div onclick='callApp.download()' class="myButton">Install</div>
                </th>
                <th width=33%><div onclick='callApp.share()' class="myButton">Share</div>
                </th>
            </tr>
        </table>




</div>

<div id="moreworlds">

    <div class="weui-grids">
        <a href="javascript:callApp.postContent('value', 1);" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/assets/images/profile.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>

        <a href="javascript:callApp.postContent('value', 2);" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/assets/images/profile.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>

        <a href="javascript:callApp.postContent('value', 3);" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="/assets/images/profile.png" alt="">
            </div>
            <p class="weui-grid__label">Grid</p>
        </a>

    </div>
</div> -->


<!-- <div class="bs-example">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="javascript:callApp.download();" class="btn btn-default navbar-toggle collapsed" role="button"><span class="glyphicon glyphicon-cloud-download"></span> Download</a>
          <div class="navbar-brand">Sky Wars</div>
        </div>
      </div>
    </nav>
</div> -->


<div class="btn-group btn-group-justified">
      <a href="javascript:callApp.like();" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
      <a href="javascript:callApp.share();" class="btn btn-success" role="button"><span class="glyphicon glyphicon-share"></span> Share</a>
</div>

<p></p>
<p></p>
<p></p>

<div class="row show-grid">

    <a href="javascript:callApp.postContent('value', 1);" class="col-xs-6">
        <div class="thumbnail">
            <img src="/assets/images/addserver.png" alt="...">
            <div class="caption">
                <h7>Thumbnail label</h7>
            </div>
        </div>
    </a>


    <a href="javascript:callApp.postContent('value', 2);" class="col-xs-6">
        <div class="thumbnail">
            <img src="/assets/images/addserver.png" alt="...">
            <div class="caption">
                <h7>Thumbnail label</h7>
            </div>
        </div>
    </a>

</div>
 
</main>

 

<script type="text/javascript">
    function GetRequest()
    {
        var url = location.search; //获取url中"?"符后的字串
        if (url.indexOf("?") != -1)
        { //判断是否有参数
            document.getElementById("buttons").style.display='none'
        }
    }
    GetRequest()
</script>
